---
interface Props {
  title: string;
  isCoverPage?: boolean;
}

const { title, isCoverPage } = Astro.props;

const pageClass = `page relative break-after-page min-h-screen ${!isCoverPage ? "px-4 py-12" : ""}`;
---

<div class={pageClass}>
  {!isCoverPage && (
    <header class="absolute top-0 left-0 w-full bg-gray-700 text-white py-4 px-4">
      <h1 class="text-lg font-bold">📄 {title}</h1>
    </header>
  )}


  <!-- Contenido de la página -->
  <div class={`max-h-screen h-full ${!isCoverPage ? "py-6" : ""}`}>
    <slot />
  </div>

  <footer class="absolute bottom-2 left-0 w-full text-right py-2 pr-10">
    <span class="page-number"></span>
  </footer>
</div>

<hr class="page-separator border-t-2 border-gray-300 my-4">

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const pages = document.querySelectorAll(".page");
    pages.forEach((page, index) => {
      const footer = page.querySelector(".page-number");
      if (footer) footer.textContent = (index + 1).toString();
    });
  });
</script>
