---
const { title } = Astro.props;
---

<div class="page min-h-screen relative break-after-page px-8 py-12 max-h-full">
  <header class="absolute top-0 left-0 w-full bg-gray-700 text-white py-4  text-center">
    <h1 class="text-lg font-bold">📄 {title}</h1>
  </header>

  <!-- Contenido de la página -->
  <div class="py-8">
    <slot />
  </div>

  <footer class="absolute bottom-3 left-0 w-full text-right py-2 pr-10 bg-white">
    <span class="page-number"></span>
  </footer>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const pages = document.querySelectorAll(".page");
    pages.forEach((page, index) => {
      const footer = page.querySelector(".page-number");
      if (footer) footer.textContent = (index + 1).toString();
    });
  });
</script>
